<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="AVOXISourceConfiguration" type="ethosIQ_AVOXI_Shared.Configuration.AVOXISourceConfigurationSection, ethosIQ-AVOXI-Shared"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="Interval" value="30"/>
    <add key="TimeZoneOffset" value=""/>    <!--use the UTC offset for your timezone. For example, "-5:00" for New York on standard time (UTC-5:00)-->

    <!--Collection Database-->
    <add key="DatabaseType" value="OracleSN"/>
    <add key="DataSource" value="BCKORCLCHI"/>
    <add key="Server" value="192.168.90.17"/>
    <add key="Port" value="1521"/>
    <add key="Username" value="CEP_ADMIN"/>
    <add key="Password" value="CEP_ADMIN"/>
  </appSettings>

  <AVOXISourceConfiguration>
    <AVOXISources>
      <AVOXISource Name="IHG" AccessToken="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmciOjg1NzUsInVzZXIiOjE1MTUzLCJyb2xlIjo1MTUxMSwic2RwT3JnSWQiOiJlYTVjODVhZi02NzJhLTExZWItYWQzYi1jMmJlMTM1MDFhNjAiLCJzZHBVc2VySWQiOiIwMzIwN2NkYi02NzM5LTExZWItOTQ0OC0wYTNiYTI5ODM3Y2YiLCJpYXQiOjE2NjIwNDIwNDksImV4cCI6MTY5MzU3ODA0OX0.GlTHlN3bNy-FbUcY8Bxk_tGT-3_phQCKmTEmhqj2A1A"/>
    </AVOXISources>
  </AVOXISourceConfiguration>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>